<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Naviam Data Analyzer</title>
        @Styles.Render("~/Content/css")
    </head>
<body>
    <div id="body">
        <div class="container-fluid">
            @RenderBody()
             
        </div>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Naviam Data Analyzer</p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/layout")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
